{% extends 'base.html.twig' %}

{% block title %}Pizzalero{% endblock %}

{% block body %}
    <style>
        body{
            background-image: url("/asset/image/pizza_home.jpeg");
            background-position: center; /* Center the image */
            background-repeat: no-repeat; /* Do not repeat the image */
            background-size: cover; /* Resize the background image to cover the entire container */
        }
    </style>
    <div class="" style="margin: 25vh 60vh; font-size: 200px;">Pizzalero</div>
{% endblock %}
