{% extends 'base.html.twig' %}

{% block title %}CustomPizza{% endblock %}

{% block body %}
    <h1>Customisez votre Pizza !</h1>
{% block form %}
    <form action="" method="POST">
        <h3>Choisissez les ingrédients à ajouter à votre pizza</h3>
            {% for ing in ings %}
                <div>
                    <input type="checkbox" value="{{ ing.nameIngredient }}">
                    <label for="{{ ing.nameIngredient }}">{{ ing.nameIngredient }}</label>
                </div>
            {% endfor %}
        <input type="submit" value="Customisez !">
    </form>
{% endblock %}




{% endblock %}

